@import "./mixin.scss";
@import "./Variables.scss";

.contenedor-form {
	@include flex-central;
	width: 100%;
	margin: $margin-principal;
	background-color: $color-principal;
	border-radius: 10px;
	font-family: $tipografia-principal;
	font-size: large;
	form {
		color: antiquewhite;
		input {
			border-radius: 4px;
			width: 200px;
			height: 30px;
			padding-left: 10px;
			margin: $margin-principal;
		}
	}
	.contenedor-img {
		width: 80px;

		img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 500px) {
	.contenedor-form {
		form {
			input {
				width: 180px;
				height: 30px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.contenedor-form {
		@include flex-central;
		width: 100%;
		margin: $margin-principal;
		font-size: medium;
		form {
			padding-left: 3px;
			input {
				width: 150px;
				padding-left: 0px;
				margin: 10px;
			}
		}
		.contenedor-img {
			width: 70px;
		}
	}
}
