@import "./mixin.scss";
@import "./Variables.scss";
.card {
	width: 250px;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: aliceblue;
	color: $color-principal;
	box-shadow: $sombra-principal;

	img {
		width: 100%;
	}
	.info-card {
		display: flex;
		justify-content: center;
	}
}
@media screen and (max-width: 500px) {
	.card {
		width: 200px;
		padding: 8px;
		margin: 8px;
		font-size: 20px;
	}
}
