@import "./mixin.scss";
@import "./Variables.scss";
.card {
	width: 200px;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: aliceblue;
	color: $color-principal;
	box-shadow: $sombra-principal;

	img {
		width: 100%;
	}
	.info-card {
		display: flex;
		flex-direction: column;
		p {
			margin: 0;
			padding: 0;
		}
	}
}
