@import "./Variables.scss";
@import "./mixin.scss";

footer {
	width: 95%;
	margin: 10px;
	border-radius: $border-radius;
	background-color: $color-principal;
	color: $color-segundario;
	@include flex-colum;
	.contenedor-redes-sociales {
		ul {
			display: flex;
			justify-content: space-between;
			padding: 0%;
			li {
				margin: 10px;
				list-style: none;
				border-radius: $border-radius;
				box-shadow: $sombra-principal;
				a {
					text-decoration: none;
					color: $color-segundario;
				}
			}
		}
	}
}
