@import "./Variables.scss";
@import "./mixin.scss";

.nav {
	display: flex;
	justify-content: space-between;
	width: 95%;

	border-radius: $border-radius;
	background-color: $color-principal;

	.contenedor-titulo {
		@include flex-centrar-alinear;
		padding-bottom: $margin-principal;
		margin-left: $margin-principal;
		width: 200px;

		img {
			width: 100%;
		}
	}

	.contenedor-link {
		display: flex;
		justify-content: center;

		ul {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			padding: 0;
			li {
				display: flex;
				list-style: none;
				font-family: $tipografia-principal;
				font-size: 30px;
				margin: $margin-secundario;
				height: 45px;
				border-radius: $border-radius;
				background-color: $color-principal;
				color: $color-segundario;
				box-shadow: $sombra-principal;
			}
		}
	}
	.contenedor-imagen {
		display: flex;
		align-items: center;
		width: 200px;
		height: 140px;
		img {
			width: 100%;
		}
	}
}
a {
	text-decoration: none;
	color: $color-segundario;
}

//RESPONSIVE
@media screen and (max-width: 800px) {
	.nav {
		.contenedor-titulo {
			@include flex-centrar-alinear;
			width: 220px;
		}

		.contenedor-link {
			ul {
				li {
					font-size: 25px;
					margin: 8px;
					height: 43px;
				}
			}
		}
		.contenedor-imagen {
			width: 220px;
		}
	}
}

@media screen and (max-width: 600px) {
	.nav {
		display: flex;
		flex-direction: column;

		align-items: center;

		.contenedor-titulo {
			@include flex-centrar-alinear;

			margin-bottom: 0px;
			margin-left: 0px;
			width: 200px;
		}

		.contenedor-link {
			ul {
				padding: 0;
				margin: 0;
				li {
					font-size: 19px;
					margin: 10px;
					height: 30px;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;

		.contenedor-titulo {
			@include flex-centrar-alinear;
			margin-bottom: 0px;
			margin-left: 0px;
			width: 220px;
		}

		.contenedor-link {
			ul {
				padding: 0;
				margin: 0;
				li {
					font-size: 22px;
					margin: 12px;
					height: 35px;
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;

		.contenedor-titulo {
			@include flex-centrar-alinear;
			margin-bottom: 0px;
			margin-left: 0px;
			width: 180px;
		}

		.contenedor-link {
			ul {
				padding: 0;
				margin: 0;
				li {
					font-size: 20px;
					margin: 10px;
					height: 30px;
				}
			}
		}
	}
}
