@import "./mixin.scss";
@import "./Variables.scss";

.section {
	@include flex-colum;
	width: 95%;
	background-color: $color-segundario;
}
.contenedor-card {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
